<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjtech.secretary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    
	<application
        android:name="com.hjtech.secretary.common.MettingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hjtech.secretary.activity.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.HomeActivity" >
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.MyMettingActivity" >
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.MettingListActivity" >
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.TicketActivity" >
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.PersonalActivity" >
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.MessageActivity" >
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.AboutActivity" >
        </activity>
        
	    <activity
            android:name="com.hjtech.secretary.activity.RegisterActivity" >
        </activity>
        
	    <activity
            android:name="com.hjtech.secretary.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
	    <activity
            android:name="com.hjtech.secretary.activity.MettingDetailsActivity" >
        </activity>
        
        <activity
            android:name="com.hjtech.secretary.activity.EnrollActivity" >
        </activity>
        <activity
            android:name="com.hjtech.secretary.activity.MettingCommentActivity" >
        </activity>
        
		<activity
            android:name="cn.hugo.android.scanner.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>
    

</manifest>